name: rsan_env
channels:
  - conda-forge
  - https://repo.anaconda.com/pkgs/main
  - https://repo.anaconda.com/pkgs/r
  - defaults
dependencies:
  - bzip2=1.0.8=hd037594_8
  - ca-certificates=2025.10.5=hbd8a1cb_0
  - icu=75.1=hfee45f7_0
  - libexpat=2.7.1=hec049ff_0
  - libffi=3.5.2=he5f378a_0
  - liblzma=5.8.1=h39f12f2_2
  - libsqlite=3.51.0=h8adb53f_0
  - libzlib=1.3.1=h8359307_2
  - ncurses=6.5=h5e97a16_3
  - openssl=3.6.0=h5503f6c_0
  - pip=25.3=pyh8b19718_0
  - psutil=7.1.3=py310hf151d32_0
  - python=3.10.19=hcd7f573_2_cpython
  - python_abi=3.10=8_cp310
  - readline=8.2=h1d1bf99_2
  - setuptools=80.9.0=pyhff2d567_0
  - tk=8.6.13=h892fb3f_2
  - wheel=0.45.1=pyhd8ed1ab_1
  - pip:
      - aiofiles==25.1.0
      - anyio==4.11.0
      - argcomplete==3.6.3
      - async-lru==2.0.5
      - attrs==25.4.0
      - bcrypt==5.0.0
      - beautifulsoup4==4.14.2
      - black==25.11.0
      - boto3==1.40.70
      - botocore==1.40.70
      - brotli==1.2.0
      - cachetools==6.2.1
      - certifi==2025.10.5
      - cffi==2.0.0
      - charset-normalizer==3.4.4
      - click==8.3.0
      - contourpy==1.3.2
      - cryptography==45.0.7
      - cycler==0.12.1
      - dacite==1.9.2
      - deprecated==1.3.1
      - dill==0.4.0
      - dnspython==2.8.0
      - exceptiongroup==1.3.0
      - fiftyone==1.8.1
      - fiftyone-brain==0.21.4
      - fiftyone-db==1.4.0
      - filelock==3.20.0
      - flake8==7.3.0
      - fonttools==4.60.1
      - fsspec==2025.10.0
      - ftfy==6.3.1
      - glob2==0.7
      - graphql-core==3.2.7
      - h11==0.16.0
      - h2==4.3.0
      - hpack==4.1.0
      - httpcore==1.0.9
      - httpx==0.28.1
      - humanize==4.14.0
      - hypercorn==0.18.0
      - hyperframe==6.1.0
      - idna==3.11
      - imageio==2.37.2
      - inflate64==1.0.3
      - isort==6.1.0
      - jinja2==3.1.6
      - jmespath==1.0.1
      - joblib==1.5.2
      - jsonlines==4.0.0
      - kiwisolver==1.4.9
      - lazy-loader==0.4
      - markdown-it-py==4.0.0
      - markupsafe==3.0.3
      - matplotlib==3.10.7
      - mccabe==0.7.0
      - mdurl==0.1.2
      - mongoengine==0.29.1
      - motor==3.6.1
      - mpmath==1.3.0
      - multivolumefile==0.2.3
      - mypy-extensions==1.1.0
      - narwhals==2.11.0
      - networkx==3.4.2
      - numpy==2.2.6
      - opencv-python==4.12.0.88
      - opencv-python-headless==4.11.0.86
      - packaging==25.0
      - pandas==2.2.3
      - paramiko==3.5.1
      - pathspec==0.12.1
      - pillow==10.4.0
      - platformdirs==4.5.0
      - plotly==6.4.0
      - polars==1.35.2
      - polars-runtime-32==1.35.2
      - pprintpp==0.4.0
      - priority==2.0.0
      - py7zr==1.0.0
      - pybcj==1.0.6
      - pycodestyle==2.14.0
      - pycparser==2.23
      - pycryptodomex==3.23.0
      - pydash==8.0.5
      - pyflakes==3.4.0
      - pygments==2.19.2
      - pymongo==4.9.2
      - pynacl==1.6.1
      - pyparsing==3.2.5
      - pyppmd==1.2.0
      - python-dateutil==2.9.0.post0
      - python-dotenv==1.0.1
      - pytokens==0.3.0
      - pytz==2025.2
      - pyyaml==6.0.2
      - pyzstd==0.16.2
      - rarfile==4.2
      - regex==2025.11.3
      - requests==2.32.3
      - retrying==1.4.2
      - rich==13.9.2
      - rtree==1.4.1
      - s3transfer==0.14.0
      - scikit-image==0.25.2
      - scikit-learn==1.5.2
      - scipy==1.14.1
      - six==1.17.0
      - sniffio==1.3.1
      - sortedcontainers==2.4.0
      - soupsieve==2.8
      - sse-starlette==0.10.3
      - sseclient-py==1.8.0
      - starlette==0.50.0
      - strawberry-graphql==0.278.0
      - sympy==1.14.0
      - tabulate==0.9.0
      - taskgroup==0.2.2
      - texttable==1.7.0
      - threadpoolctl==3.6.0
      - tifffile==2025.5.10
      - tomli==2.3.0
      - torch==2.9.1
      - torchaudio==2.5.1
      - torchvision==0.24.1
      - tqdm==4.66.5
      - typing-extensions==4.12.2
      - tzdata==2025.2
      - tzlocal==5.3.1
      - ultralytics==8.3.228
      - ultralytics-thop==2.0.18
      - universal-analytics-python3==1.1.1
      - urllib3==2.5.0
      - voxel51-eta==0.15.1
      - wcwidth==0.2.14
      - wrapt==2.0.1
      - wsproto==1.2.0
      - xmltodict==1.0.2

