name: rsan_env
channels:
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - pip

  # ---- PyTorch (auto-select correct build) ----
  - pytorch=2.5.1
  - torchvision=0.20.1
  - torchaudio=2.5.1

  # ---- Core scientific stack ----
  - numpy
  - scipy
  - scikit-learn
  - scikit-image
  - pandas
  - matplotlib
  - tqdm

  # ---- Utils and CV ----
  - pillow
  - opencv

  # ---- MongoDB ----
  - pymongo
  - mongoengine
  - motor

  # ---- Other tools ----
  - pip:
      - ultralytics
      - fiftyone
      - python-dotenv
      - requests
      - rich
      - pyyaml
      - plotly
      - ftfy
      - imageio
      - rtree
